@using Covid19Manager.UI.Enums
@model Covid19Manager.UI.ViewModels.PatientDashboardVM

@{
    ViewData["Title"] = "GetReportDashboard";
}

<h1>Izvješća</h1>
<hr />

<h3>Filter</h3>
@using (Html.BeginForm("GetReportDashboard", "Pacijent", FormMethod.Get))
{
    <div class="form-row">
        <div class="col-lg-3">
            <div class="input-group mb-3 date" data-provide="datepicker">
                <input type="text" class="form-control" placeholder="Datum od" aria-label="Datum od" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group mb-3 date">
                <input type="text" class="form-control" placeholder="Datum do" aria-label="Datum do" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Pacijenti </label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" asp-for="ReportTableId" asp-items="@Model.Reports"></select>
            </div>
            
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary float-right">Filtriraj</button>
        </div>
    </div>
}

<hr />

<div class="row" style="text-align:center;">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <dl class="card-text">
                    <dt>
                        @Html.DisplayNameFor(model => model.NumberOfPeopleInIsolation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumberOfPeopleInIsolation)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <dl class="card-text">
                    <dt>
                        @Html.DisplayNameFor(model => model.NumberOfPeopleOutOfIsolation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumberOfPeopleOutOfIsolation)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <dl class="card-text">
                    <dt>
                        @Html.DisplayNameFor(model => model.NumberOfPeopleOutOfOneKmRadius)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumberOfPeopleOutOfOneKmRadius)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <dl class="card-text">
                    <dt>
                        @Html.DisplayNameFor(model => model.NumberOfPeopleWithSymptoms)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumberOfPeopleWithSymptoms)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<hr />

<table id="ReportTable" class="table table-hover table-sm mdc-typography" style="width:100%; text-align: center;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientsOutOfOneKmRadius[0].OIB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientsOutOfOneKmRadius[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientsOutOfOneKmRadius[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientsOutOfOneKmRadius[0].IsolationAddress)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReportTableId == (int)PatientReportTables.PatientsOutOfOneKmRadius ?
           Model.PatientsOutOfOneKmRadius : Model.PatientsWithSymptoms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OIB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsolationAddress)
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/DataTables-hr.js"></script>
<script src="~/lib/DatePicker/bootstrap-datepicker.min.js"></script>
<script src="~/lib/DatePicker/bootstrap-datepicker.hr.min.js"></script>
<script>
    $(document).ready(function () {
        $('#ReportTable').DataTable({
            "language": language_hr
        });
        $('.date').datepicker({
            format: 'dd.mm.yyyy',
            language: 'hr',
            autoclose: true
        });
    });
</script>