@model IEnumerable<Covid19Manager.UI.ViewModels.PatientTableVM>

@{
    ViewData["Title"] = "Popis";
}

<h1>Popis</h1>

<p>
    <a class="btn btn-primary" asp-action="CreatePatient">Dodaj</a>
</p>
<table id="PatientTable" class="table table-hover table-sm mdc-typography" style="width:100%; text-align: center;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OIB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsolationAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="@Html.Raw(item.RowColor)">
            <td>
                @Html.DisplayFor(modelItem => item.OIB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsolationAddress)
            </td>
            <td>
                @Html.ActionLink("Detalji", "PatientDetails", new { id=item.ID  }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Ukloni", "RemovePatientFromIsolation", new { id=item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#PatientTable').DataTable();
    });
</script>
